@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
	--font-manrope: "Manrope", sans-serif; 
}

:root {
	--background: #0f0f10;
	--foreground: #171819;
	--light-foreground: #525253;
	--lightBg: #111213;
	--fontColor: #eeeeee;
	--lightFont: #6B6B6B;
	--accent: #48C1EE;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@layer base {
	html,
	body {
		max-width: 100vw;
		overflow-x: hidden;
	}

	body {
		color: var(--fontColor);
		background: var(--background);
		font-family: var(--font-manrope);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
	h3 {
		font-size: 24px;
	}
	.preceeding-item {
		opacity: 0;
		transition: all .3s ease-in-out;
	}
	video {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}	
}